<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all users</title>
</head>
<body>
<div th:each="user : ${users}">
    <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getNickname()}">user</a>
</div>
<hr/>
<a href="/users/new">I want be a new user</a>
<hr/>
<a href="/">back to main page</a>
</body>
</html>