<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <a th:text="${user.getNickname()}">user</a>
    <br>
    created: <a th:text="${user.getCreated()}">user</a>
    <br>
    last update: <a th:text="${user.getUpdated()}">user</a>
    <br/>
    <hr/>
    <a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>
    <br/>
    <hr/>
    <form th:method="POST" th:action="@{/users/{id}/delete(id=${user.getId()})}">
        <input type="submit" value="Delete"/>
        </form>
    <hr/>
    <a href="/users">Show all members</a>
    <br/>
    <hr/>
    <a th:href="@{/players/new/{id}(id=${user.getId()})}">I want be a player</a>
</body>
</html>