<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All players</title>
</head>
<body>
<div th:each="player : ${players}">
    <a th:href="@{/players/{id}(id=${player.getId()})}" th:text="${player.getName()}+' '+${player.getSurname()}">player</a>
</div>
<hr/>
<a href="/">back to main page</a>
</body>
</html>