<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All tournaments</title>
</head>
<body>
<div th:each="tournament : ${tournaments}">
    <a th:href="@{/tournaments/{id}(id=${tournament.getId()})}" th:text="${tournament.getName()}">tournament</a>
</div>
<br>
<a href="/tournaments/new">Create a new tournament</a>
<hr/>
<a href="/">back to main page</a>
</body>
</html>