<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tournament</title>
</head>
<body>
    <a th:text="${tournament.getName()}">tournament</a>
    <br>
    <a th:text="${tournament.getYear()}">tournament</a>
    <br>
    created: <a th:text="${tournament.getCreated()}">tournament</a>
    <br>
    last update: <a th:text="${tournament.getUpdated()}">tournament</a>
    <br/>
    <a th:href="@{/tournaments/{id}/edit(id=${tournament.getId()})}">Edit</a>
    <br/>
    <hr/>
    <form th:method="POST" th:action="@{/tournaments/{id}/delete(id=${tournament.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
    <hr/>
    <a href="/tournaments">Show all tournaments</a>
<br>
<hr>
    <div th:each="team : ${teams}">
        <a th:href="@{/teams/{id}(id=${team.getId()})}" th:text="${team.getName()}">team</a>
    </div>
</body>
</html>