<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All places</title>
</head>
<body>
<div th:each="place : ${places}">
    <a th:href="@{/places/{id}(id=${place.getId()})}" th:text="${place.getName()}">place</a>
</div>
<hr/>
<a href="/places/new">Create a new place</a>
<br>
<a href="/">back to main page</a>
</body>
</html>