<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Place</title>
</head>
<body>
    <a th:text="${place.getName()}">place</a>
    <br>
    <a th:text="'City: '+${place.getCity()}">place</a>
    <br>
    <a th:text="'Address: '+${place.getAddress()}">place</a>
    <br>
    <a th:text="'Administrator phone number: '+${place.getAdministrator_phone_number()}">place</a>
    <br>
    <a th:text="'Was added: '+${place.getCreated()}">place</a>
    <br>
    <a th:text="'Last update: '+${place.getUpdated()}">place</a>
    <br/>
    <hr/>
    <a th:href="@{/places/{id}/edit(id=${place.getId()})}">Edit</a>
    <br/>
    <hr/>
    <form th:method="POST" th:action="@{/places/{id}/delete(id=${place.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
    <hr/>
    <a href="/places">Show all places</a>
</body>
</html>