<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All games</title>
</head>
<body>
<div th:each="game : ${games}">
    <a th:href="@{/games/{id}(id=${game.getId()})}" th:text="${game.getDate()}+'-'+${game.getHome_team_name()}+'-'+${game.getGuest_team_name()}">game</a>
</div>
<hr/>
<a href="/games/new">Create a new game</a>
<br>
<a href="/">back to main page</a>
</body>
</html>