<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
    <a th:text="${game.getId()}">game</a>
    <br>
    Tournament: <a th:href="@{/tournaments/tournament?name={name}(name=${game.getTournament_name()})}" th:text="${game.getTournament_name()}">game</a>
    <br>
    Place: <a th:href="@{/places/place?name={name}(name=${game.getPlace_name()})}" th:text="${game.getPlace_name()}">game</a>
    <br>
    <a th:text="'Date: '+${game.getDate()}">game</a>
    <br>
    <a th:text="'Time: '+${game.getTime()}">game</a>
    <br>
    <a th:text="'Status: '+${game.getStatus()}">game</a>
    <br>
    Resault: <a th:href="@{/teams/team?name={name}(name=${game.getHome_team_name()})}" th:text="${game.getHome_team_name()}">game</a>
    <a th:text="' '+${game.getHome_team_score()}+' - '+${game.getGuest_team_score()}+' '">game</a>
    <a th:href="@{/teams/team?name={name}(name=${game.getGuest_team_name()})}" th:text="${game.getGuest_team_name()}">game</a>
    <br>
    <hr/>
    <a th:href="@{/games/{id}/edit(id=${game.getId()})}">Edit</a>
    <br/>
    <hr/>
    <form th:method="POST" th:action="@{/games/{id}/delete(id=${game.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
    <hr/>
    <a href="/games">Show all games</a>
    <hr>
<br>
    <div th:each="comment : ${comments}">
        <a th:text="${comment.getUser_account_nickname()}+': '+${comment.getText()}">comment</a>
        <form th:method="POST" th:action="@{/comments/{id}/delete(id=${comment.getId()})}">
            <input type="submit" value="Delete"/>
        </form>
    </div>
<br>
    <form th:method="POST" th:action="@{/comments/game_id={id}(id=${game.getId()})}" th:object="${new_comment}">
        <label for="user_account_nickname">leave a comment as: </label>
        <select th:object="${new_comment}" th:field="*{user_account_nickname}" id="user_account_nickname">
            <option th:each="author: ${author}" th:value="${author.getNickname()}" th:text="${author.getNickname()}"></option>
        </select>
        <br>
        <label for="text">Write something: </label>
        <input type="text" th:field="*{text}" id="text"/>
        <div style="color:red" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Text Error</div>
        <br/>
        <input type="submit" value="Create!"/>
    </form>
</body>
</html>