<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New game</title>
</head>
<body>

<form th:method="POST" th:action="@{/games}" th:object="${game}">
    <label for="tournament">Choose tournament: </label>
    <select th:object="${game}" th:field="*{tournament_name}" id="tournament">
        <option th:each="tournament: ${tournaments}" th:value="${tournament.getName()}" th:text="${tournament.getName()}"></option>
    </select>
    <br>
    <label for="place">Choose place: </label>
    <select th:object="${game}" th:field="*{place_name}" id="place">
        <option th:each="place: ${places}" th:value="${place.getName()}" th:text="${place.getName()}"></option>
    </select>
    <br>
    <label for="home_team">Choose home team: </label>
    <select th:object="${game}" th:field="*{home_team_name}" id="home_team">
        <option th:each="team: ${teams}" th:value="${team.getName()}" th:text="${team.getName()}"></option>
    </select>
    <br>
    <label for="guest_team">Choose guest team: </label>
    <select th:object="${game}" th:field="*{guest_team_name}" id="guest_team">
        <option th:each="team: ${teams}" th:value="${team.getName()}" th:text="${team.getName()}"></option>
    </select>
    <br>
    <label for="date">Enter date: </label>
    <input type="date" th:field="*{date}" id="date"/>
    <div style="color:red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date Error</div>
    <br>
    <label for="time">Enter time: </label>
    <input type="time" th:field="*{time}" id="time"/>
    <div style="color:red" th:if="${#fields.hasErrors('time')}" th:errors="*{time}">Time Error</div>
    <br>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>