<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All teams</title>
</head>
<body>
<div th:each="team : ${teams}">
    <a th:href="@{/teams/{id}(id=${team.getId()})}" th:text="${team.getName()}">team</a>
</div>
<hr/>
<a href="/teams/new">Create a new team</a>
<br>
<a href="/">back to main page</a>
</body>
</html>