<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Team players</title>
</head>
<body>
<div th:each="player : ${team_players}">
  <a th:href="@{/players/{id}(id=${player.getId()})}" th:text="${player.getName()}+' '+${player.getSurname()}">player</a>
  <form th:method="POST" th:action="@{/team_2_player/{player_id}/delete_from_team{team_id}(player_id=${player.getId()},team_id=${numberOfTeam})}">
    <input type="submit" value="Delete from team"/>
  </form>
</div>
<hr>
<form th:method="POST" th:action="@{/team_2_player/add_player_to_team_{team_id}(team_id=${numberOfTeam})}" th:object="${player}">
  <label for="id">Add a new player: </label>
  <select th:object="${player}" th:field="*{id}" id="id">
    <option th:each="player: ${all_players}" th:value="${player.getId()}" th:text="${player.getName()}+' '+${player.getSurname()}"></option>
  </select>
  <input type="submit" value="Add!"/>
</form>
<hr/>
<a href="/">back to main page</a>
</body>
</html>
