<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team</title>
</head>
<body>
    <a th:text="${team.getName()}">team</a>
    <br>
    <a th:text="'City: '+${team.getCity()}">team</a>
    <br>
    <a th:text="'Was added: '+${team.getCreated()}">team</a>
    <br>
    <a th:text="'Last update: '+${team.getUpdated()}">team</a>
    <br/>
    <hr/>
    <a th:href="@{/team_2_player/players_from_team/{id}(id=${team.getId()})}">Show players</a>
    <br/>
    <hr>
    <a th:href="@{/teams/{id}/edit(id=${team.getId()})}">Edit</a>
    <br/>
    <hr/>
    <form th:method="POST" th:action="@{/teams/{id}/delete(id=${team.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
    <hr/>
    <a href="/teams">Show all teams</a>
</body>
</html>